/**
  |############################
  | ADVANTAGE
  |############################
*/

.advantage {
    padding: var(--section-padding) 0;
}

.advantage-subtitle {
    color: var(--navyblue-cl);
    font-weight: 700;
    font-size: 36px;
}

.advantage-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
    align-items: center;
}

.advantage-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.advantage-text {
    display: block;
    max-width: 100%;
}

.advantage-icon-container {
    display: none;
}

.action {
    padding: var(--section-padding) 0;
    display: none;
}

.action-list {
    display: flex;
    gap: var(--intendance);
    flex-direction: row;

}

.action-item {
    width: 360px;
    height: auto;
}