.customers {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: var(--section-padding) 0;
}

.customers-subtitle {
    text-align: center;
    color: var(--navyblue-cl);
    margin-top: 32px;
    margin-bottom: 8px;
}

.customers-list {
    display: flex;
    gap: 72px 16px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.customers-item {
    width: calc((100% - 16px) / 2);
    display: block;
    border-radius: 4px;
    height: 88px;
}


.customers-link {
    color: var(--lightslate-cl);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--lightslate-cl);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: border-color var(--transform-properties), color var(--transform-properties);
}

@media (hover: hover) {

    .customers-link:focus,
    .customers-link:hover {
        border-color: var(--ocean-cl);
        color: var(--ocean-cl);
    }
}

.customers-link:active {
    border-color: var(--ocean-cl);
    color: var(--ocean-cl);
}


.customers-icon {
    fill: currentColor;
}