/**
  FOOTER
 */
.footer {
    background-color: var(--navyblue-cl);
    padding: 96px 0;
}

.footer .container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.footer-static {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: var(--cloud-cl);
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-right: 64px;
    padding-left: 64px;
}

.footer-social-section .footer-text {
    display: block;
    font-weight: 500;

}

.footer-subscribe-wrapper .footer-text {
    display: block;
    font-weight: 500;
}

.footer-logo-link {
    margin-bottom: 16px;
}

.footer-logo-accent {
    color: var(--cloud-cl);
}



.footer-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-social-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-social-link {
    width: 40px;
    height: 40px;
    border: 1px solid var(--iris-cl);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris-cl);
    transition: background-color var(--transform-properties), border var(--transform-properties);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--green-cl);
    border: 1px solid var(--green-cl);
}

.footer-social-link svg {
    display: block;
    fill: var(--white-cl);
}

.footer-subscribe-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 96px;
    align-items: center;
}

.footer-form {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    max-width: 396px;
}

.footer-form-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--white-cl);
    background-color: transparent;
    border: 1px solid var(--white-cl);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    border-radius: 4px;
    padding: 8px 16px;
    min-width: 288px;
}

.footer-form-button {
    background-color: var(--iris-cl);
    border-radius: 4px;
    border: 0;
    transition: background-color var(--transform-properties);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    font-weight: 500;
    color: var(--white-cl);
}

.footer-form-button:hover,
.footer-form-button:focus {
    background-color: var(--ocean-cl);
}

.footer-form-button svg {
    fill: var(--white-cl);
}

/* MOBIlE MENU*/
.mobile-backdrop {
    transform: translateX(100%);
}

.mobile-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    min-width: 320px;
    padding: 24px 24px 40px 40px;

    display: flex;
    flex-direction: column;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    background-color: var(--white-cl);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.mobile-container.is-open {
    transform: translateX(0);
}

.menu-container.is-open {
    transform: translateX(0);
}

.mobile-menu-list {
    margin-bottom: auto;
}

.mobile-menu-btn {
    min-width: 24px;
    min-height: 24px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    border-radius: 50%;
    border: 1px solid rgba(46, 47, 66, 0.10);
    background-color: rgba(231, 233, 252, 0.10);

    margin-bottom: 40px;
}

.mobile-menu-btn:active,
.mobile-menu-btn:focus,
.mobile-menu-btn:hover {
    background-color: var(--ocean-cl);
    border: none;
    fill: var(--white-cl);
}


.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-link {
    color: var(--navyblue-cl);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}


.mobile-menu-link:active,
.mobile-menu-link:focus,
.mobile-menu-link:hover {
    color: var(--ocean-cl);
}

.mobile-address-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    flex-direction: column;

    margin-bottom: 48px;
}

.mobile-phone-link {
    color: var(--iris-cl);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    margin-bottom: 40px;
}

@media only screen and (max-width: 400.98px) {
    .mobile-phone-link {
        font-size: 24px;
    }
}

@media only screen and (max-width: 319.98px) {
    .mobile-phone-link {
        font-size: 24px;
    }
}

.mobile-email-link {
    color: var(--slate-cl);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

@media only screen and (max-width: 400.98px) {
    .mobile-email-link {
        font-size: 14px;
    }
}

@media only screen and (max-width: 319.98px) {
    .mobile-email-link {
        font-size: 14px;
    }
}

.mobile-social-list {
    display: flex;
    gap: 56px;
}

@media only screen and (max-width: 400.98px) {
    .mobile-social-list {
        gap: 32px;
    }
}

@media only screen and (max-width: 319.98px) {
    .mobile-social-list {
        gap: 28px;
    }
}