:root {
    --navyblue-cl: #2E2F42;
    --iris-cl: #4D5AE5;
    --ocean-cl: #404BBF;
    --slate-cl: #434455;
    --white-cl: #FFFFFF;
    --cloud-cl: #F4F4FD;
    --border-cl: #E7E9FC;
    --lightslate-cl: #8E8F99;
    --dairy-cl: #FCFCFC;
    --green-cl: #31d0aa;
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    --intendance: 24px;
    --section-padding: 120px;
    --transform-properties: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    color: var(--slate-cl);
    font-family: var(--main-font);
    background-color: var(--white-cl);
}

/**
  RESET
 */
address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

textarea:focus,
input:focus {
    outline: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
}

.btn {
    font-family: inherit;
    cursor: pointer;
    color: currentColor;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
}


.logo-link {
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-cl);
    display: inline-block;
}

.logo-accent {
    color: var(--iris-cl);
}

.subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text {
    color: var(--slate-cl);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**
  |############################ 
  | HEADER
  |############################
 */

.header {
    border-bottom: 1px solid var(--border-cl);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 76px;
    align-items: center;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-nav-list-item {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--transform-properties);
}

.header-link {
    color: var(--navyblue-cl);
    padding: 24px 0;
    display: block;
    transition: color var(--transform-properties);
    position: relative;
}

.header-link-active {
    color: var(--iris-cl);
}

.header-link-active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--iris-cl);
    border-radius: 2px;
}

.address-link:hover,
.address-link:focus,
.header-link:hover,
.header-link:focus {
    color: var(--ocean-cl);
}

.header-logo-accent {
    color: var(--navyblue-cl);
}

.address-list {
    display: flex;
    gap: 40px;
}

/**
  FOOTER
 */
.footer {
    background-color: var(--navyblue-cl);
    padding: 100px 0;
}

.footer .container {
    display: flex;
    flex-direction: row;

    align-items: flex-start;
}

.footer-text {
    color: var(--cloud-cl);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-social-section .footer-text {
    display: block;
    font-weight: 500;

}

.footer-subscribe-wrapper .footer-text {
    display: block;
    font-weight: 500;
}

.footer-logo-link {
    margin-bottom: 16px;
}

.footer-logo-accent {
    color: var(--cloud-cl);
}

.footer-text {
    max-width: 264px;
}

.footer-text-wrapper {
    margin-right: 120px;
}

.footer-social-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 80px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-social-link {
    width: 40px;
    height: 40px;
    border: 1px solid var(--iris-cl);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris-cl);
    transition: background-color var(--transform-properties), border var(--transform-properties);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--green-cl);
    border: 1px solid var(--green-cl);
}

.footer-social-link svg {
    display: block;
    fill: var(--white-cl);
}

.footer-subscribe-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--white-cl);
    background-color: transparent;
    border: 1px solid var(--white-cl);
    border-radius: 4px;
    padding: 8px 16px;
    width: 264px;
}

.footer-form-button {
    background-color: var(--iris-cl);
    border-radius: 4px;
    border: 0;
    transition: background-color var(--transform-properties);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    font-weight: 500;
    color: var(--white-cl);
}

.footer-form-button:hover,
.footer-form-button:focus {
    background-color: var(--ocean-cl);
}

.footer-form-button svg {
    fill: var(--white-cl);
}

/**
  |############################
  | STUDIO styles
  |############################
*/
.studio-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue-cl);
    margin-bottom: 72px;
}

/**
  |############################
  | Hero styles
  |############################
*/
.hero {
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero/img-01.jpg);
    background-color: var(--navyblue-cl);
}

.hero .container {
    color: var(--white-cl);
    display: flex;
    flex-direction: column;
    padding: 188px 0;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    gap: 48px;
    margin: 0;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-height: 120px;
    max-width: 496px;
}

.hero-btn {
    background-color: var(--iris-cl);
    border-radius: 4px;
    border: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 16px;
    width: 169px;
    display: block;
    transition: background-color var(--transform-properties);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean-cl);
}

/**
  |############################
  | ADVANTAGE
  |############################
*/

.advantage {
    padding-top: var(--section-padding);
}

.advantage-subtitle {
    color: var(--navyblue-cl);
}

.advantage-list {
    display: flex;
    gap: var(--intendance);
}

.advantage-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    width: 264px;
}

.advantage-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--cloud-cl);
    border-radius: 4px;
    margin-bottom: 8px;
    width: 264px;
}

.action {
    padding: var(--section-padding) 0;
}

.action-list {
    display: flex;
    gap: var(--intendance);
    flex-direction: row;
}

.action-item {
    width: 360px;
    height: auto;
}

/**
  |############################
  | TEAM
  |############################
*/
.team {
    background-color: var(--cloud-cl);
    padding: var(--section-padding) 0;
}

.team-list {
    display: flex;
    gap: var(--intendance);
    justify-content: space-between;
}

.team-item {
    background-color: var(--white-cl);
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}

.team-subtitle {
    text-align: center;
    color: var(--navyblue-cl);
    margin-top: 32px;
    margin-bottom: 8px;
}

.team-text {
    text-align: center;
    margin-bottom: 8px;
}

.team-social-list {
    display: flex;
    gap: var(--intendance);
    justify-content: center;
    /* padding: 8px 16px 32px 16px; */
}

.team-social-item {
    width: 40px;
    height: 40px;
    border: 1px solid var(--iris-cl);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris-cl);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: background-color var(--transform-properties), border var(--transform-properties);
}

.team-social-item:hover,
.team-social-item:focus {
    background-color: var(--ocean-cl);
    border: 1px solid var(--ocean-cl);
}

.team-social-link svg {
    display: block;
    fill: var(--white-cl);
}



.customers {
    display: flex;
    flex-direction: column;
    gap: var(--intendance);
    padding: var(--section-padding) 0;
}

.customers-subtitle {
    text-align: center;
    color: var(--navyblue-cl);
    margin-top: 32px;
    margin-bottom: 8px;
}

.customers-list {
    display: flex;
    gap: var(--intendance);
    justify-content: center;
    align-items: center;
    width: 1128px;

}

.customers-item {
    width: calc((100% - 2*var(--intendance)) / 6);
    display: block;
    border-radius: 4px;
    height: 88px;
}


.customers-link {
    color: var(--lightslate-cl);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--lightslate-cl);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: border-color var(--transform-properties), color var(--transform-properties);
}

.customers-link:focus,
.customers-link:hover {
    border-color: var(--ocean-cl);
    color: var(--ocean-cl);
}

.customers-icon {
    fill: currentColor;
}

/**
   MODAL
 */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transform-properties), visibility var(--transform-properties);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--dairy-cl);
    min-height: 584px;
    min-width: 408px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--transform-properties);
    transform: translate(-50%, -50%) scale(1);
}

.modal-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    background-color: var(--cornflower-cl);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: background-color var(--transform-properties), border var(--transform-properties);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-btn-icon {
    fill: var(--navyblue-cl);
    transition: fill var(--transform-properties);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--ocean-cl);
    border: none;
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
    fill: var(--white-cl)
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 72px 24px 0 24px;
    align-items: center;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navyblue-cl);
}

.backdrop-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.backdrop-form-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    position: relative;
    transition: fill var(--transform-properties);
    margin-bottom: 8px;
}

.backdrop-form-textarea-label {
    margin-bottom: 16px;
}

.backdrop-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    transition: border-color var(--transform-properties);
}

.backdrop-form-text-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
}

.backdrop-agreement {
    flex-direction: row;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 24px;
}

.backdrop-agreement-link {
    color: var(--iris-cl);
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.backdrop-btn {
    background-color: var(--iris-cl);
    border-radius: 4px;
    border: 0;
    transition: background-color var(--transform-properties);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    width: 169px;
    height: 56px;
    font-weight: 500;
    color: var(--white-cl);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto 24px auto;
}

.backdrop-btn:hover,
.backdrop-btn:focus {
    background-color: var(--ocean-cl);
}

.input-icon {
    position: absolute;
    bottom: 8px;
    left: 16px;
    pointer-events: none;
}

input {
    padding-left: 38px;
}

.backdrop-form-text-input {
    padding-left: 16px;
    padding-top: 8px;

}

input[type="checkbox"] {
    display: none;
}

.checkbox-custom {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icon-unchecked {
    display: block;
}

.icon-checked {
    display: none;
}

input[type="checkbox"]:checked+label .icon-checked {
    display: block;
}

/* Hide unchecked icon when checkbox is checked */
input[type="checkbox"]:checked+label .icon-unchecked {
    display: none;
}

.backdrop-form-label:focus-within,
.backdrop-form-input:focus-within {
    border-color: var(--iris-cl);
    fill: var(--iris-cl);
}

/**
  |############################
  | PORTFOLIO styles
  |############################
*/

.portfolio {
    padding-top: 96px;
    padding-bottom: var(--section-padding);
}

.portfolio-subtitle {
    color: var(--navyblue-cl);
}

.portfolio-btn {
    color: var(--iris-cl);
    background-color: var(--cloud-cl);
    border: 1px solid var(--border-cl);
    border-radius: 4px;
    padding: 12px 24px;
    box-sizing: border-box;
    transition:
        background-color var(--transform-properties),
        color var(--transform-properties),
        box-shadow var(--transform-properties),
        border var(--transform-properties);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--ocean-cl);
    color: var(--white-cl);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
}

.portfolio-btn-list {
    display: flex;
    gap: var(--intendance);
    justify-content: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    gap: 48px var(--intendance);
    flex-wrap: wrap;
}

.portfolio-item {
    width: calc((100% - 2*var(--intendance)) / 3);
    transition: box-shadow var(--transform-properties);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-link {
    display: flex;
    flex-direction: column;

}

.portfolio-item-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-item-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 15px;
    border: 1px solid var(--border-cl);
    border-top: 0px;
}

/* Overlay */
.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--iris-cl);
    transform: translateY(100%);
    transition: transform var(--transform-properties);
}

.portfolio-overlay-text {
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-cl);
}