@media screen and (min-width: 768px) and (max-width: 1157px) {

    .container {
        max-width: 736px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .header-nav {
        gap: 120px;
    }

    .header-nav-list {
        display: flex;
        gap: 40px;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 12px;
    }

    .header-btn {
        display: none;
    }

    .menu-toggle,
    .menu {
        display: none;
    }

    .hero .container {
        gap: 36px;
    }

    .hero .container {
        color: var(--white-cl);
        padding: 112px 0;
        padding: 188px 0;

    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-height: 120px;
        max-width: 496px;
    }

    .hero {
        min-height: 436px;
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/img-03.jpg);

    }

    @media (min-resolution: 192dpi) {
        .hero {
            background-image:
                linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero/img-03@2x.jpg);
        }
    }

    .advantage {
        padding: var(--section-padding) 0;

    }

    .advantage-icon-container {
        display: none;
    }

    .advantage-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px var(--intendance);
    }

    .advantage-subtitle {
        color: var(--navyblue-cl);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
    }

    .advantage-item {
        justify-content: flex-start;
        max-width: calc((100% - var(--intendance)) / 2);
        align-items: flex-start;
    }

    .action {
        display: none;
    }

    .team {
        padding: var(--section-padding) 0;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 64px var(--intendance);
    }


    .customers-list {
        gap: 72px 24px;
    }

    .customers-item {
        width: calc((100% - 2*var(--intendance)) / 3);
    }

    .customers-item svg {
        width: 100%;
        height: 100%;
        padding: 16px 32px;
    }

    .footer-static {
        flex-direction: row;
        padding: 0 92px;
        gap: 24px;
        align-items: flex-start;
    }

    .footer-text-wrapper .logo-link {
        padding: 0;

    }

    .footer-text-wrapper {
        align-items: flex-start;
    }

    .footer-text {
        padding: 0;
    }

    .footer-subscribe-wrapper {
        flex-direction: column;
        padding: 0 92px;
        align-items: flex-start;
        margin: 0;
    }

    .footer-form {
        flex-direction: row;
    }

    .portfolio {
        padding: 64px 0;
    }

    .portfolio-btn-list {
        justify-content: center;
        gap: 24px;
        margin-bottom: 64px;
    }

    .portfolio-btn {
        padding: 12px 24px;
    }

    .portfolio-item {
        width: calc((100% - var(--intendance)) / 2);
        margin-bottom: 24px;
    }

    /* .modal {
        min-width: 392px;
        min-height: 584px;
    } */
}