@media screen and (min-width: 768px) and (max-width: 1440px) {
    .container {
        max-width: 736px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .header-nav {
        gap: 76px;
    }

    .header-nav-list {
        display: flex;
        gap: 40px;
    }

    .address-list {
        display: flex;
        flex-direction: column;
    }

    .header-btn {
        display: none;
    }

    .menu-toggle,
    .menu {
        display: none;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-height: 120px;
        max-width: 496px;
    }

    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/img-01.jpg);

    }

    .advantage-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: var(--cloud-cl);
        border-radius: 4px;
        margin-bottom: 8px;
        width: 264px;
    }

    .advantage-list {
        display: flex;
        flex-direction: row;
        gap: var(--intendance);
    }

    .advantage-subtitle {
        color: var(--navyblue-cl);
        font-weight: 700;
        font-size: 36px;
    }

    .advantage-item {
        justify-content: flex-start;
    }

    .action {
        display: unset;
    }

    .team-list {
        flex-direction: row;
    }

}